.the-header {
    top: 0;
    position: sticky;
    padding: .7rem 1.25rem;
    z-index: 2;

    .hr-title {
        font-size: 1.375rem;
        font-weight: 400;
    }

    .hr-actions {
        margin-left: auto;
    }

    .hr-menu-toggle {
        display: none;
    }

    @media screen and (max-width: $media-tablet) {
        .hr-menu-toggle {
            display: flex;
        }
    }
}